html {
    background-color: rgb(58, 54, 54);
}

body {
    background-color: rgb(158, 228, 130);
    width: 950px;
    margin: auto;
    padding: 40px;
}

h1 {
    color: blue;
}

h2 {
    color: brown;
}

h1, h2 {
    text-align: center;
}

p {
    color: darkblue;
}


#video {
    display: none;
}